<<!DOCTYPE html>
<html>
<body>
<h2>It's working on Tomcat server(9.0.65)</h2>
<hr>
<h2>수정1</h2>
<hr>
<h1 id="message">Hi, there</h1>
<h1>Hi, there (updated by highjune)</h1>
<h2>Today is <span id="today"></span></h2>
<h3>Version: 6</h3>

<script>
    // 오늘 날짜 표시
    const today = new Date();
    const formattedDate = today.getFullYear() + '-' +
        String(today.getMonth() + 1).padStart(2, '0') + '-' +
        String(today.getDate()).padStart(2, '0');
    document.getElementById("today").textContent = formattedDate;
</script>
</body>
</html>